name: Build and Upload VexBox to itch.io 

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - fixthesus

jobs:
  call-build-and-upload:
    uses: EricBartusch/godot-container-builder/.github/workflows/reusable-godot-deploy.yaml@v1
    with:
      GAME_NAME: VexBox
    secrets:
      USER: ${{ secrets.USER }}
      API_KEY: ${{ secrets.API_KEY }}
